<script src="/static/filterCharacters.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
			<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item active">
			<a class="nav-link" href="/characters">Characters</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/movies">Movies</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/planets">Planets</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/organizations">Organizations</a>
			</li>			
		</ul>
		</div>
	</nav>    

	<div class="container">
			<div class="col-lg-12">
                <div id="characters-table">

                    <h1>Characters</h1>
                    <br>
                    <a href='../characters-new' class="btn btn-primary btn-md">Add a new character</a>
                    <a href='../characters-movies' class="btn btn-primary btn-md">View characters in movies</a>
                    <a href='../characters-organizations' class="btn btn-primary btn-md">View characters in organizations</a>
                    <br>
                    <br>
                    <form id="filter-characters">
                        <div class="form-row">
                            <div class="col-3">
                                <input type="text" id="filter-characters-text" class="form-control" placeholder="Filter by name..." required>
                            </div>
                            <div class="col-2">
                                <input type="button" class="btn btn-primary btn-md" value="Filter" onclick="filterByName()">
                            </div>
                        </div>
                    </form>
                    <br>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Race</th>
                                <th>Home Planet</th>
                                <th>Alignment</th>
                                <th style="width:135px"></th> {{!-- This puts the edit and delete buttons into their own fixed-width column --}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#each characters}}
                            <tr>
                                <td>{{Name}}</td>
                                <td>{{Race}}</td>
                                <td>{{PlanetName}}</td>
                                <td>{{Alignment}}</td>
                                <td>
                                    <a href='../characters/{{ID}}' class="btn btn-primary btn-sm">Edit</a>
                                    <a href='../characters/delete/{{ID}}' class="btn btn-danger btn-sm" style="margin-left: 5px">Delete</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
			</div>
		</div>